#The Bot token that your Discord bot will use
token = "your token here"
#Time delay for updating persistant messages. In minutes.
time_delay = 5
#Folder to get the embed images
imageDir = "images/"
#Put your owner ID here so you have admin access to bot
owner_id = "-1"
